<%= content_for :outside do %>
  <%= render "users/partials/remind_for_draft" if current_user.has_draft? %>
<% end %>

<div id="home">
  <div class="ui grid">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="column no_horizontal_paddings">
          <%= render "posts/post", post: post %>
        </div>
      </div>
    <% end %>
  </div>

  <%= stylesheet_link_tag 'owl-carousel/owl.carousel.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'owl-carousel/owl.theme.css', media: 'all', 'data-turbolinks-track' => true %>

  <%= content_for :custom_js do %>
    <%= javascript_include_tag 'owl-carousel/owl.carousel.js', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(".owl-carousel").owlCarousel({
        //autoPlay: 3000, //Set AutoPlay to 3 seconds
        //singleItem: true,
        items: 1,
        itemsDesktop: false,
        itemsDesktopSmall: false,
        itemsTablet: false,
        itemsTabletSmall: false,
        lazyLoad : true,
        navigation : false,
        pagination : false,
      });
    </script>
  <% end %>
</div>