<h2 class="ui center aligned icon header">
  <!-- <i class="circular home icon"></i> -->
  請提供幾張照片
</h2>

<div class="center">
  <h3 id="upload_zone" class="ui icon header">
    <i class="icon bordered huge plus black"></i>
    <div class="content">
      選擇圖片
    </div>
  </h3>
  <!-- The file input field used as target for the file upload widget -->      
</div>

<style type="text/css">
  canvas {
    width: 100%;
  }
</style>
<input class="hidden" id="fileupload" type="file" name="file[]" multiple="">

<div id="files" class="files ui stackable grid container center"></div>

<% form_tag update_attachment_post_path, multipart: true, id: "upload_form" do %>
  <%= file_field_tag "file[]", multiple: true, class: 'hidden' %>
  <%#= semantic_icon('remove deletePhoto') %>
  <div class="center">  
    <!-- <h3 class="ui center aligned segment main-bottom-btn" id="upload_zone">輕按選擇圖片</h3> -->
    <div class="ui stackable four column grid" id="photoPreviewBlock"></div>
    <!-- <button class="ui basic large button hidden submit-buttom" id="upload_button">確定上傳</button> -->
    <%= button_tag "開始上傳", type: "submit", class: "ui button yellow hidden", id: "upload_button" %>
  </div>
<% end %>

<div id="images" class="ui stackable grid container">
  <% if @post.attachments_count.present? && @post.attachments_count > 0 %>
    <% @post.attachments.each do |a| %>
      <div class="four wide column" style="text-align: center;">
        <i class="remove icon huge red" style="position: absolute; margin-left: 0px; right: 0px;" data-id="<%= a.id %>"></i>
        <%= image_tag a.image.medium.url, class: 'center' %>
        <!-- <div class="desc"><%#= text_area_tag 'description', a.description %></div> -->
      </div>
    <% end %>
  <% end %>
</div>
<div class="center">
  <%= link_to preview_post_path(@post), class: "ui green button submit-buttom hidden", "data-no-turbolink": true do %>
    下一步
  <% end %>
</div>

<%= content_for :custom_js do %>
  <%= javascript_include_tag 'jQueryFileUpload/load-image.all.min', 'data-turbolinks-track' => true %>
  <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'jQueryFileUpload/jquery.iframe-transport', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jQueryFileUpload/jquery.fileupload', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jQueryFileUpload/jquery.fileupload-process', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jQueryFileUpload/jquery.fileupload-image', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $('#upload_zone').click(function(){
      $('#fileupload').click()
    })
  </script>
  <script type="text/javascript">
    
    $(function () {
      $('.submit-buttom').toggleClass('hidden', $('#images .icon.remove').length === 0)
      $('#fileupload').fileupload({
        url: "<%= update_attachment_post_path %>",
        dataType: 'json',
        start: function (e) {
          $("#upload_zone").find('i.icon').replaceWith('<i class="spinner loading huge icon"></i>');
          $("#upload_zone").find('.content').html("上傳中，請稍候...")
          $("#upload_zone").unbind( "click" );
        },
        done: function (e, data) {
          // console.log(data.result.file.url)
          $("#upload_zone").find('i.icon').removeClass('loading')
          $('#images').prepend('<div class="four wide column" style="text-align: center;"><i class="remove icon huge red" style="position: absolute; margin-left: 0px; right: 0px;"></i><img src="' + data.result.file.thumbnailUrl + '" class="center"/></div>')
          if ($('#images .icon.remove').length > 0) {
            $('.submit-buttom').removeClass('hidden')
          };
          $("#upload_zone").find('i.icon').replaceWith('<i class="icon bordered huge plus black"></i>');
          $("#upload_zone").find('.content').html("繼續選擇圖片")
          $('#upload_zone').click(function(){
            $('#fileupload').click()
          })
        }
      })

      $('#images .icon.remove').click(function(){
        $(this).parent("div.column").remove();
        if ($('#images .icon.remove').length === 0) {
          $('.submit-buttom').addClass('hidden')
        }
        file_id = $(this).data('id');
        $.ajax({
          type      : 'DELETE',
          data      : { "attachment": { "id": file_id } }, // our data object
          url       : "/attachments/"+file_id, // the url where we want to POST
          dataType  : 'json', // what type of data do we expect back from the server
          encode    : true
        })
        // using the done promise callback
        .done(function(data) {

          // log data to the console so we can see
          console.log(data);

          // here we will handle errors and validation messages
        });
      })
    });

  </script>
<% end %>