<div class="center" id="account">
  <% if current_user.blank? %>
    <h2 class="ui center aligned icon header">
      <i class="circular home icon"></i>
      Housing is easy.
    </h2>

    <% if false#flash.any? %>
      <div class="ui success message">
        <i class="close icon"></i>
        <div class="header"><%= notice %></div>
      </div>
    <% end %>
    <%= link_to user_omniauth_authorize_path(:facebook), class:'ui button facebook' do %>
      <i class="facebook icon"></i>
      Facebook 登入
    <% end %>
  <% else %>
    <%= image_tag current_user.image, class: 'ui circular center image', id: 'user-avatar' %>
    <h2 class="ui center aligned header" style="margin: 20px;">
      <%= current_user.name %>
    </h2>
    <div class="account-actions">
      <%= link_to posts_path, class:'ui button basic' do %>
        我的房屋
      <% end %>
      <%= link_to destroy_user_session_path, :method => :delete, class:'ui button basic' do %>
        登出
      <% end %>
      <%= link_to user_omniauth_authorize_path(:facebook), class:'ui button basic' do %>
        關於Zuker
      <% end %>
    </div>
  <% end %>
</div>
<%= content_for :footer do %>
  <%= render_main_btn("刊登房屋", new_post_path) %>
<% end %>