<h2 class="ui center aligned icon header">
  <i class="circular home icon"></i>
  Housing is easy.
</h2>
<div class="ui grid">
  <div class="right aligned eight wide column">
      <a class="ui basic button" href="<%= new_post_path %>">
        <i class="icon add"></i>
        Post
      </a>
  </div>
  <div class="left aligned eight wide column">
    <button class="ui basic button">
      <i class="icon search"></i>
      Search
    </button>
  </div>
</div>

<% if false#flash.any? %>
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header"><%= notice %></div>
  </div>
<% end %>

<div class="ui stackable three column grid">
  <% @posts.publish.each do |post| %>
    <div class="column col-md-2">
      <%= render post %>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag    'owl-carousel/owl.carousel.css', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'owl-carousel/owl.theme.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'owl-carousel/owl.carousel.js', 'data-turbolinks-track' => true %>

<%= content_for :custom_js do %>
<script type="text/javascript">
  $(document).ready(function() {
    $(".owl-carousel").owlCarousel({
        //autoPlay: 3000, //Set AutoPlay to 3 seconds
        singleItem: true,
        lazyLoad : true,
        navigation : false,
        pagination : false,
    });
  });
</script>
<% end %>