<!DOCTYPE html>
<html>
<head>
  <title>極速刊登 - Zuker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="snow">
  <div class="ui menu">
    <div class="ui container">
      <%= link_to root_path, class: "logo item center", id: "logo-img-link" do %>
        <%= image_tag 'logo-f.png', id: "logo-img" %>
      <% end %>
      <!-- <div class="menu">
        <%#= link_to "Post", new_post_path, class: "item" %>
        <div class="ui simple dropdown item">
          More <i class="dropdown icon"></i>
          <div class="menu">
            <%#= link_to "My Posts", root_path, class: "item" %>
            <%#= link_to "Saved Posts", root_path, class: "item" %>
            <div class="divider"></div>
            <div class="header">Help</div>
            <a class="item" href="#">Q & A</a>
            <a class="item" href="#">Contact Us</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <% if false#flash.any? %>
    <% flash.map do |type, message| %>
      <div class="ui icon message <%= type.to_s %>">
        <i class="info icon small"></i>
        <div class="content">
          <%= raw message %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <%= yield :outside %>
  <div class="ui main container <%= 'large-margin-bottom' if (current_page?(root_path) || action_name == 'upload_photo') %>">
    <%= yield %>
  </div>

  <%= render "partials/footer" %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :custom_js %>
</body>
</html>
